# --- Data Engineering & Medallion Data Lake ---
duckdb
polars[pyarrow]
polars requests
pandera[polars]

# --- Ingestion & External APIs ---
wetterdienst
requests
pandas
matplotlib
seaborn
numpy
ipykernel
wetterdienst
plotly
nbformat

# --- Machine Learning & Operations Research ---
lightgbm
xgboost
catboost
scikit-learn
ortools
shap

# --- MLOps & Experiment Tracking ---
mlflow

# --- API & Serving ---
fastapi
uvicorn[standard]
pydantic

# --- Testing & Code Quality ---
pytest
ruff

# -e .